h1 {
  margin-top: 30px;
}

div#logo,
div#logo a {
  color: #B80000;
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: none;
}

div#logo span {
  color: #FF6800;
  font-size: 0.3em;
  display: block;
}

div#topline {
  float: right;
}