
<h1>Welcome to REDLINE!</h1>

<p>
  We love the Internet. We love websites, and hyperlinks. And more than that, we love URLs.
  But, we love <strong>people</strong> more.
</p>

<h2>Try it out!</h2>
<%- form_tag search_url, :method => :get do -%>
  <label for="query">Enter link <strong>http://</strong></label>
  <%= text_field_tag(:query) %>  
  <%= submit_tag('Search') %>
<%- end -%>

<h2>People so far</h2>
<ul>
  <%- @users.each do |user| -%>
    <li class="grid_1"><%= link_to(photo_tag(user.photo, :medium), user_path(user)) %></li>
  <%- end -%>
</ul>
